/.vscode
/.idea
/Hardware/Chisel/.bsp
/Hardware/Chisel/.idea
/Hardware/Chisel/.metals
/Hardware/Chisel/project
/Hardware/Chisel/.vscode
/Software/SC_MUL/__pycache__
/Software/SC_MUL/Result
/Software/SC_MUL/SobolSequence
/Hardware/RTL/8bitCompare/project_1
/Hardware/RTL/8bitCompare/Dadda-Multiplier-using-CSA.zip
/Software/SC_MUL/Result.zip
/Hardware/project_1
/Software/Application/Pan_Tompkins_QRS_Detection/Images
/Software/Application/Pan_Tompkins_QRS_Detection/Squared-Signal.png
/Software/Application/Pan_Tompkins_QRS_Detection/1.png
/Software/Application/Pan_Tompkins_QRS_Detection/heartRate.png
/Software/Application/Pan_Tompkins_QRS_Detection/__pycache__